/*Styles the heading text above each section*/
h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

/*FORM*/
/*Styles the input tags*/
input[type="text"], input[type="email"], input[type="tel"]{
    width: 200px;
    height: 20px;
    border-radius: 5px;
    margin: 5px;
    border-color: green;
}

input[type="submit"]{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    background-color: green;
    color: white;
    border-color: darkgreen;
}

/*IMAGES*/
img{
    width: 500px;
    height: 350px;
    display: flex;
}

/*NAVBAR*/
.nav-bar{
    position: sticky;/*Creates a sticky element that stays in the same spot in the borowser screen*/
    top: 0;/*Tells the browser to stick the element at teh top of the page based on user scrilling*/
    z-index: 9;/*Sets the stack layer to scroll over all elements*/
}

ul{
    display: flex;/*Creates a flex container which will expand or shrink elements to fill the space available to them and place the elements side by side horisontally*/
    list-style-type: none;/*Removes the default styling for unordered list elements*/
    align-items: center;
    margin: -8px -8px 0px -8px;/*The margin order is top, right, bottom, left. The negative margins will stretch the background beyond the edge of the browser screen*/
    background-color: forestgreen;
    border-bottom: 5px solid darkgreen;
}

a{
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: 800;
    color: white;
    text-align: center;
    width: 150px;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in;
}

a:hover/*Only-of-type effects the only child element nested within an element. This will keep the background color blue while hovering and the text white when we move the mouse over anchor elements in the rollover-menu div*/{
    background-color: lightgreen;
    color:  goldenrod;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.7);
    transition: background-color 0.3s ease-in;
}

/*FOOTER*/

footer{
    align-items: center;/*Will align nested HTML elements in the center i.e. the table data and paragraph elements in the footer tag*/
    margin: 0px -8px -8px -8px;/*Stretches the footer beackground beyond the borwsers edge leaving no white space*/
    background-color: forestgreen;
    border-top: 5px solid darkgreen;
    bottom: 0;/*Positions the footer at the bottom of the screen*/
}

table{
    width: 100%;/*Will take up the full width of the browser scree*/
}

td{
    width: 33%;/*Each table dtat item takes up 1/3 of the space available on the screen*/
}

td p{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
}